@charset "UTF-8";

$main_color: #00A5DE;
$border_color: #ddd;
$white_color: #fff;

// SPサイズのとき
@mixin mq() {
	@media screen and (max-width: 640px) {
		@content;
	}
}

/*
 *  汎用パーツ
 */
* {
    -webkit-appearance: none;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    color: #14171a;
    font-size: 14px;
    font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
strong {
    color: #EB040D;
    font-weight: bold;
}
small {
    font-size: 80%;
}
img {
    width: auto;
    max-width: 100%;
}
h2 {
    margin: 0 0 10px 0;
    padding: 5px 10px;
    color: $white_color;
    font-weight: bold;
    background: $main_color;
}
h3 {
    margin: 5px 0 0 0;
    font-weight: bold;
    border-bottom: 2px solid $main_color;
}
ul {
    margin: 0;
    padding: 0 0 0 15px;
}
li {
    margin: 0 0 10px 0;
}
.wrapper {
    max-width: 640px;
    margin: 0 auto;
    position: relative;
}
.transparent {
    opacity: 0;
}

/*
 *  ヘッダー
 */
#header {
    height: 60px;
    border-bottom: 1px solid $border_color;
    position: relative;
}
#logo {
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
}
@media screen and (max-width:360px) {
    #logo {
        width: 240px;
        position: absolute;
        top: 6px;
        left: 0;
    }
}
#twitter {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
}

/*
 *  メインコンテンツ
 */
 #main-contents {
    padding: 10px;
    background: #f8f8f8;
}
.info-panel {
    margin-bottom: 15px;
    padding: 20px;
    background: $white_color;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,0.15);
    position: relative;

    .title {
        font-size: 150%;
        font-weight: bold;
        color: $main_color;
    }

    .status {
        padding: 3px 8px;
        color: $white_color;
        font-weight: bold;
        background: #888;
        border-radius: 3px;
        position: absolute;
        top: 20px;
        right: 20px;
        transition: opacity ease-in-out .2s;
    }

    .message {
        padding: 5px 10px;
        background: #e6f7ff;
        border-radius: 3px;
    }
}
/*
 *  フォーム
 */
#matrix_input {
    white-space: nowrap;
}
input[type="text"] {
    width: 45px;
    height: 40px;
    margin: 5px;
    padding: 0;
    font-size: 100%;
    text-align: center;
    line-height: 150%;
    background: $white_color;
    border: 1px solid $border_color;
    border-radius: 3px;
    display: inline-block;
}
input[type=checkbox] {
    display: none;
}
input[type=checkbox]:checked + .checkbox:before {
    opacity: 1;
}
.checkbox {
    -webkit-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
    max-width: 360px;
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px 10px 5px 42px;
    border: 1px solid $border_color;
    border-radius: 5px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    display: inline-block;

    &:before {
        -webkit-transition: opacity 0.1s linear;
        transition: opacity 0.1s linear;
        position: absolute;
        top: 50%;
        left: 21px;
        display: block;
        margin-top: -7px;
        width: 5px;
        height: 9px;
        border-right: 3px solid #53b300;
        border-bottom: 3px solid #53b300;
        content: '';
        opacity: 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
select {
    max-width: 360px;
    width: 100%;
    margin: 10px 0;
    padding: 5px 10px;
    font-size: 100%;
    background: $white_color;
    border: 1px solid $border_color;

    &#show_digit {
        display: block;
    }
}

input[type="button"] {
    width: auto;
    height: 40px;
    margin: 5px 3px 0 0;
    padding: 0 10px;
    font-size: 100%;
    text-align: center;
    background: #f0f0f0;
    line-height: 150%;
    border: 1px solid $border_color;
    border-radius: 3px;
    display: inline-block;
    transition: opacity ease-in-out .2s;

    &:hover {
        opacity: 0.5;
    }
    &#calc{
        color: $white_color;
        font-weight: bold;
        background: $main_color;
        border: none;

        @include mq() {
            width: 100%;
        }
    }
}

/*
 *  エラー表示など
 */
#input_attention {
    border-radius: 18px;
}
#input_attention_btn {
    height: 36px;
    margin: 10px 0 5px 0;
    text-align: center;
    line-height: 36px;
    border-radius: 18px;
    transition: background-color ease-in-out .2s;
    display: block;

    &:hover {
        background-color: #f8f8f8;
    }
}
#input_attention_list {
    font-size: 80%;
    padding: 10px 20px 10px 35px;
    display: none;
}
#error_msg {
    margin: 10px 0;
    padding: 10px;
    color: #EB040D;
    border: 2px solid #ff9999;
    background: #fffefe;
}
#button_box {
    margin: 0 0 15px 0;
}

/*
 *  結果表示
 */
#result {
    display: none;
}
#result em {
    margin: 15px;
    color: #EB040D;
    font-size: 120%;
    font-weight: bold;
    font-style: normal;
    display: inline-block;
}
#panel-header {
    margin: 20px 0 5px 0;
    font-size: 200%;
}
#matrix_triA_button_line {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background: #f5f5f5;

    button {
        width: 40px;
        height: 40px;
        margin: 0 3px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
        border: none;
        display: inline-block;
        transition: opacity ease-in-out .2s;

        &:hover {
            opacity: 0.5;
        }
        &:disabled {
            opacity: 0;
        }

        &#triA-start {
            background-image: url(img/button-start.svg);
        }
        &#triA-prev {
            background-image: url(img/button-prev.svg);
        }
        &#triA-next {
            background-image: url(img/button-next.svg);
        }
        &#triA-end {
            background-image: url(img/button-end.svg);
        }
    }

    span#triA-progress {
        margin: 0 10px;
        line-height: 1;
        text-align: center;
    }

    span#matrix_triA_step_header {
        font-size: 80%;
    }

    span#matrix_triA_current_step,
    span#matrix_triA_total_step {
        font-size: 130%;
    }
}
#matrix_triA_operation {
    width: 100%;
    display: table;

    #matrix_triA_operation_step {
        width: 60px;
        color: $white_color;
        font-weight: bold;
        text-align: center;
        background: $main_color;
        border-radius: 3px 0 0 3px;
        display: table-cell;

        &.complete {
            background: #ff5a68;
        }
    }
    #matrix_triA_operation_content {
        padding: 5px 10px;
        border-radius: 0 3px 3px 0;
        background: #fffccc;
        display: table-cell;
    }
}
#matrix_rankA {
    font-size: 200%;
}
#matrix_detA {
    font-size: 200%;
}
/*
 *　　GoogleAdsense
 */
.google_ad {
    margin: 10px 0;
    text-align: center;
}

/*
 *  免責事項
 */
#pay-attention{
    margin: 30px 0 10px 0;
    padding: 10px;
    border: 1px solid #ff9999;
    background: #fffefe;
    clear: both;

    .title{
        text-align: center;
        color: #EB040D;
        font-weight: bold;
        border-bottom: 3px solid #ffdddd;
    }

    .list{
        margin: 15px 0 0 0;
        padding: 0 0 0 20px;

        li{
            margin: 5px 0;
            padding: 0;
            font-size: 80%;
        }
    }
}

/*
 *  フッター
 */
 #footer {
    padding: 10px 0;
    background: #14171A;
    color: $white_color;
    font-size: 80%;
    text-align: center;
}
