@charset "UTF-8";

/*
 *  汎用パーツ
 */
* {
    -webkit-appearance: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #14171a;
    font-size: 14px;
    font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

small {
    font-size: 80%;
}

img {
    width: auto;
    max-width: 100%;
}

h2 {
    margin: 10px 0;
    padding: 5px 10px;
    color: #ffffff;
    font-weight: bold;
    background: #00A5DE;
}

h3 {
    margin: 5px 0 0 0;
    font-weight: bold;
    border-bottom: 2px solid #00A5DE;
}

.wrapper {
    max-width: 640px;
    margin: 0 auto;
    position: relative;
}

/*
 *  ヘッダー
 */
#header {
    height: 45px;
    border-bottom: 1px solid #cccccc;
}

#logo {
    width: 200px;
    height: 45px;
    margin: 0 auto;
    line-height: 45px;
    color: #00A5DE;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

/*
 *  メインコンテンツ
 */
 #main-contents {
    background: #f8f8f8;
}
.container {
    padding: 20px;
    background: #ffffff;
}
/*
 *  フォーム
 */
input[type="text"] {
    width: 45px;
    height: 40px;
    margin: 5px;
    padding: 0;
    font-size: 100%;
    text-align: center;
    line-height: 150%;
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 3px;
    display: inline-block;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked + .checkbox:before {
    opacity: 1;
}
  
.checkbox {
    -webkit-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
    margin: 10px 0 0 0;
    padding: 5px 10px 5px 42px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.checkbox:before {
    -webkit-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
    position: absolute;
    top: 50%;
    left: 21px;
    display: block;
    margin-top: -7px;
    width: 5px;
    height: 9px;
    border-right: 3px solid #53b300;
    border-bottom: 3px solid #53b300;
    content: '';
    opacity: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


input[type="button"] {
    width: auto;
    height: 40px;
    margin: 5px 3px 0 0;
    padding: 0 10px;
    font-size: 100%;
    text-align: center;
    background: #eeeeee;
    line-height: 150%;
    border: 1px solid #cccccc;
    border-radius: 3px;
    display: inline-block;
}
input[type="button"]#calc{
    color: #ffffff;
    font-weight: bold;
    background: #00A5DE;
    border: none;
}

/*
 *  結果表示など
 */
#error_msg {
    margin: 10px 0;
    padding: 10px;
    color: #EB040D;
    border: 2px solid #ff9999;
    background: #fffefe;
}
#result em {
    margin: 15px;
    color: #EB040D;
    font-size: 120%;
    font-weight: bold;
    font-style: normal;
    display: inline-block;
}

/*
 *  免責事項
 */
#pay-attention{
    margin: 30px 0 10px 0;
    padding: 10px;
    border: 1px solid #ff9999;
    background: #fffefe;
    clear: both;
}
#pay-attention .title{
    text-align: center;
    color: #EB040D;
    font-weight: bold;
    border-bottom: 3px solid #ffdddd;
}
#pay-attention .list{
    margin: 15px 0 0 0;
    padding: 0 0 0 20px;
}
#pay-attention .list li{
    margin: 5px 0;
    padding: 0;
    font-size: 80%;
}

/*
 *  フッター
 */
 #footer {
    padding: 10px 0;
    background: #14171A;
    color: #ffffff;
    font-size: 80%;
    text-align: center;
}